* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  font-size: 16px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar; }

*::-moz-selection, *::-moz-selection {
  color: white;
  background-color: #4D61FC; }

*::-moz-selection, *::selection {
  color: white;
  background-color: #4D61FC; }

body {
  background-color: white;
  font-family: "Lato", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #3d3d3d; }

p {
  margin-bottom: 1em;
  margin-top: 1em;
  font-family: "Lato", serif;
  line-height: 1.4; }

h1, h2, h3 {
  line-height: 1.3;
  color: #303030; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  max-width: 1080px; }
  .container:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .container--small {
    max-width: 550px; }

header {
  position: relative;
  z-index: 50; }

a {
  color: #4D61FC;
  transition: color 0.2s ease; }

.heading {
  font-size: 4em; }
  @media (max-width: 768px) {
    .heading {
      font-size: 3.7em; } }
  @media (max-width: 500px) {
    .heading {
      font-size: 3.5em; } }

.subheading {
  text-transform: uppercase;
  color: #007AFF;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.4; }

.mockup__case {
  display: inline-block;
  position: relative; }
  .mockup--white .mockup__case {
    background-color: white; }
  .mockup--iphone .mockup__case {
    box-shadow: 0px 5px 43px 0 rgba(0, 0, 0, 0.09); }
  .mockup--iphone.mockup--portrait .mockup__case {
    max-width: 286px;
    width: 100%;
    border-radius: 16%/7.62%; }
    .mockup--iphone.mockup--portrait .mockup__case .mockup__spacer {
      padding-top: 209.79021%; }

.mockup__screen {
  position: absolute;
  border-radius: 4px; }
  .mockup--white .mockup__screen {
    border: 2px solid #F6F6F6; }
  .mockup--iphone.mockup--portrait .mockup__screen {
    left: 0;
    right: 0;
    top: 12%;
    margin: auto;
    width: 85%; }
    .mockup--iphone.mockup--portrait .mockup__screen:before {
      content: "";
      display: block;
      padding-bottom: 182%; }
  @media (max-width: 500px) {
    .mockup__screen {
      border-radius: 2px;
      border-width: 1px; } }

.mockup__screenshot {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat; }

.mockup__button {
  position: absolute;
  border-radius: 50%; }
  .mockup__button:before {
    content: "";
    display: block;
    padding-bottom: 100%; }
  .mockup--white .mockup__button {
    background-color: #FFFFFF;
    box-shadow: inset 0 26px 35px 0 rgba(0, 0, 0, 0.04); }
  .mockup--iphone.mockup--portrait .mockup__button {
    left: 0;
    right: 0;
    bottom: 3.9%;
    margin: auto;
    width: 15.4%; }

.feature__title {
  margin-top: 0;
  margin-bottom: 15px; }

.feature__title_text {
  text-transform: uppercase;
  font-size: 12px; }

.feature__content {
  margin: auto; }

.feature__icon {
  vertical-align: middle;
  margin-right: 15px;
  max-height: 25px;
  max-width: 25px;
  width: 100%; }

.header-02 {
  height: 100vh; }
  @media (max-width: 900px) {
    .header-02 {
      height: auto; } }

.header-02__wrapper {
  background-image: linear-gradient(to bottom right, #00E5FF, #003BFF);
  position: relative;
  display: flex;
  height: 100%; }
  @media (max-width: 900px) {
    .header-02__wrapper {
      display: block; } }

.header-02__left, .header-02__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; }
  @media (max-width: 900px) {
    .header-02__left, .header-02__right {
      width: 100%; } }

.header-02__left {
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 900px) {
    .header-02__left {
      padding-top: 60px;
      padding-bottom: 40px;
      text-align: center; } }

.header-02__right {
  @media (max-width: 900px) {
    .header-02__right {
      padding: 60px 30px; } }
}

.header-02__left_content {
  max-width: 500px; }

.header-02__logo_img {
  max-height: 100px;
  max-width: 100px; }

.header-02__text {
  max-width: 400px;
  margin-bottom: 40px; }
  @media (max-width: 900px) {
    .header-02__text {
      margin-left: auto;
      margin-right: auto; } }

.header-02__mockup {
  display: inline-block;
  width: 100%;
  text-align: center; }
  .header-02__mockup .mockup {
    width: 100%; }
  .header-02__mockup .mockup__case {
    margin: auto; }

.footer-02 {
  background-color: #303030;
  padding: 40px 0; }

.footer-02__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; }
  @media (max-width: 750px) {
    .footer-02__wrapper {
      display: block; } }

.footer-02__text {
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.4; }
  @media (max-width: 750px) {
    .footer-02__text {
      margin-bottom: 20px; } }

.footer-02__link {
  text-decoration: none;
  color: inherit; }
  .footer-02__link:hover {
    color: white; }

.features-01 {
  padding: 70px 0 40px; }

.features-01__title_box {
  text-align: center; }

.features-01__items {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 60px; }
  @media (max-width: 990px) {
    .features-01__items {
      justify-content: center; } }

.features-01__item {
  width: 30%;
  max-width: 350px;
  margin-bottom: 60px;
  padding-right: 30px; }
  @media (max-width: 990px) {
    .features-01__item {
      width: 50%; } }
  @media (max-width: 600px) {
    .features-01__item {
      width: 100%;
      padding-right: 0; } }